<!DOCTYPE HTML>
<head>
    <script src="C:\Users\Huang\Desktop\Github\FrontEndFinal\FrontEndFinal\FrontEndFinal\showhide.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link href="C:\Users\Huang\Desktop\Github\FrontEndFinal\FrontEndFinal\FrontEndFinal\Views\temp.css" rel="stylesheet" />
</head>
<body onload="showHide('document'); showHide('document2'); showHide('document3'); showHide('document4'); showHide('document5'); showHide('document7'); showHide('document8')">
    <div class="container">

        <div class="row">
            <div class="col-sm-4"><h1>Berkshire Hathaway</h1></div>
            <div class="col-sm-2"><button><a href="Link goes here">Home</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Letters</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Company Info</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Links</a></button></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3 align="center">Corporate Governance</h3>
            </div>
        </div>
        <div align="center">
            <div class="row">

                <div class="col-sm-12">
                    <h4><a href="https://www.berkshirehathaway.com/govern/corpgov.pdf">Corporate Governance Guidelines</a></h4>
                    <button onclick="showHide('document')">Preview</button>
                </div>

            </div>

            <div class="row">
                <div id="document">
                    <div class="col-sm-12">
                        <iframe src="..\Views\corpgov.pdf" width="950" height="500"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <h4><a href="https://www.berkshirehathaway.com/govern/ethics.pdf">Code of Business Conduct and Ethics</a></h4>
                    <button onclick="showHide('document2')">Preview</button>
                </div>

            </div>
            <div class="row">
                <div id="document2">

                    <div class="col-sm-12">
                        <iframe src="..\Views\ethics.pdf" width="950" height="500"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <h4><p><a href="https://www.berkshirehathaway.com/govern/inside.pdf">Insider Trading Policy</a></p></h4>
                    <button onclick="showHide('document3')">Preview</button>
                </div>

            </div>
            <div class="row">
                <div id="document3">

                    <div class="col-sm-12">
                        <iframe src="..\Views\inside.pdf" width="950" height="500"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <h4><p><a href="https://www.berkshirehathaway.com/govern/audit.pdf">Audit Committee Charter</a></p></h4>
                    <button onclick="showHide('document4')">Preview</button>
                </div>

            </div>
            <div class="row">
                <div id="document4">

                    <div class="col-sm-12">
                        <iframe src="..\Views\audit.pdf" width="950" height="500"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-12">
                    <h4><p><a href="https://www.berkshirehathaway.com/govern/comp.pdf">Governance, Compensation, and Nominating Committee Charter</a></p></h4>
                    <button onclick="showHide('document5')">Preview</button>
                </div>

            </div>
            <div class="row">
                <div id="document5">

                    <div class="col-sm-12">
                        <iframe src="..\Views\comp.pdf" width="950" height="500"></iframe>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-12">
                    <h4><p><a href="https://www.berkshirehathaway.com/govern/Conflict%20Minerals%20Policy.pdf">Conflict Minerals Information</a></p></h4>
                    <button onclick="showHide('document7')">Preview</button>
                </div>

                <div class="row">

                    <div class="col-sm-12">
                        <h4><p><a href="https://www.sec.gov/edgar/browse/?CIK=1067983&owner=only">Section 16 Reports of Directors, Officers, and Principal Stockholders</a></p></h4>

                    </div>

                </div>
            </div>
            <div class="row">
                <div id="document7">

                    <div class="col-sm-12">
                        <iframe src="..\Views\Conflict Minerals Policy.pdf" width="950" height="500"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>Forms</h4>
                    
                </div>
            </div>
          
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            <a href="https://www.berkshirehathaway.com/govern/2020ConflictMineralsReport.pdf">Conflict Minerals Report</a>
                            <br />
                            <a href="https://www.berkshirehathaway.com/govern/Wesco%20Form%208937%20Report%20of%20Organizational%20Actions%20Affecting%20Basis%20in%20Securitites.pdf">Wesco Financial Corp - Form 8937 Report on Basis of Securities</a>
                        </p>
                    </div>
                </div>
        </div>


        <br />
        <div class="row">
            <div class="col-sm-4">
                <h3>Annual Meeting Information</h3>
                <h4>The 2022 Annual Meeting is scheduled to be held on April 30, 2022.</h4>
                <br />
                <h4> May 1, 2021:</h4>
            </div>
            <div class="col-sm-8">

                <center><iframe width="950" height="535" src="https://www.youtube.com/embed/gx-OzwHpM9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
            </div>
        </div>
        
        <br />
        <div class="row">
            <div class="col-sm-12">
                <h3 align="center">Proxy Statement-2021</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p align="center"><a href="https://www.berkshirehathaway.com/2021ProxyStmt.pdf">Proxy Statement</a></p>
                <center><iframe src="..\Views\2021ProxyStmt.pdf" width="950" height="500"></iframe></center>
            </div>
        </div>
    </div>
</body>
