<!DOCTYPE HTML>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4"><h1>Berkshire Hathaway</h1></div>
            <div class="col-sm-2"><button><a href="Link goes here">Home</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Letters</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Company Info</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Links</a></button></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Corporate Governance</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Corporate Governance Guidelines</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Code of Business Conduct and Ethics</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Insider Trading Policy</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Audit Committee Charter</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Governance, Compensation, and Nominating Committee Charter</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Section 16 Reports of Directors, Officers, and Principal Stockholders</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Conflict Minerals Information</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Wesco Financial Corp - Form 8937 Report on Basis of Securities</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <h2>Annual Meeting Information</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>Next Meeting: April 30, 2022</h4>
            </div>
        </div>
        <div></div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                <h4>May 1, 2021</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <center><iframe width="950" height="535" src="https://www.youtube.com/embed/gx-OzwHpM9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2>Proxy Statement-2021</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <center><iframe src="..\Views\2021ProxyStmt.pdf" width="950" height="1100"</iframe></center>
            </div>
        </div>
    </div>
</body>
