<!DOCTYPE HTML>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src=".\showhide.js"></script>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <link href=".\FullDesign.css" rel="stylesheet" />
    <title>Company Information</title>
</head>
<body onload="showHide('document'); showHide('document2'); showHide('document3'); showHide('document4'); showHide('document5'); showHide('document7'); showHide('document8')">
    <!-- Header -->
    <nav class="navbar navbar-expand-sm navbar-dark mb-sm-3 navBG">
        <span class="navbar-brand h1"> Berkshire Hathaway</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="HomePage.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="LettersFromBuffet.html">Letters</a>
                <a class="nav-item nav-link" href="documents.html">Company Info</a>
                <a class="nav-item nav-link" href="financeinfo.html">Finance</a>
                <a class="nav-item nav-link" href="MoreLinks.html">More Links</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <!--Corporate Governance-->
        <div id="corporate">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Corporate Governance</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><a href="https://www.berkshirehathaway.com/govern/corpgov.pdf">Corporate Governance Guidelines</a> <button class="btn btn-outlint-primary" onclick="showHide('document')">Preview</button></h5>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><a href="https://www.berkshirehathaway.com/govern/ethics.pdf">Code of Business Conduct and Ethics</a> <button class="btn btn-outlint-primary" onclick="showHide('document2')">Preview</buttonclass="btn></h5>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><a href="https://www.berkshirehathaway.com/govern/inside.pdf">Insider Trading Policy</a> <button class="btn btn-outlint-primary" onclick="showHide('document3')">Preview</button></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><a href="https://www.berkshirehathaway.com/govern/audit.pdf">Audit Committee Charter</a> <button class="btn btn-outlint-primary" onclick="showHide('document4')">Preview</button></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><a href="https://www.berkshirehathaway.com/govern/comp.pdf">Governance, Compensation, and Nominating Committee Charter</a> <button class="btn btn-outlint-primary" onclick="showHide('document5')">Preview</button></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><a href="https://www.berkshirehathaway.com/govern/Conflict%20Minerals%20Policy.pdf">Conflict Minerals Information</a> <button class="btn btn-outlint-primary" onclick="showHide('document7')">Preview</button></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><a href="https://www.sec.gov/edgar/browse/?CIK=1067983&owner=only">Section 16 Reports of Directors, Officers, and Principal Stockholders</a></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>Forms</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <a href="https://www.berkshirehathaway.com/govern/2020ConflictMineralsReport.pdf">Conflict Minerals Report</a>
                                <br />
                                <a href="https://www.berkshirehathaway.com/govern/Wesco%20Form%208937%20Report%20of%20Organizational%20Actions%20Affecting%20Basis%20in%20Securitites.pdf">Wesco Financial Corp - Form 8937 Report on Basis of Securities</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div align="center">
                    <div class="col-sm-8">
                        <div class="row">
                            <div id="document">
                                <div class="col-sm-12">
                                    <iframe src="..\Views\corpgov.pdf" width="950" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="document2">

                                <div class="col-sm-12">
                                    <iframe src="..\Views\ethics.pdf" width="950" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="document3">
                                <div class="col-sm-12">
                                    <iframe src="..\Views\inside.pdf" width="950" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="document4">
                                <div class="col-sm-12">
                                    <iframe src="..\Views\audit.pdf" width="950" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="document5">
                                <div class="col-sm-12">
                                    <iframe src="..\Views\comp.pdf" width="950" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="document7">
                                <div class="col-sm-12">
                                    <iframe src="..\Views\Conflict Minerals Policy.pdf" width="950" height="500"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />

    <!--Annual Meeting Information-->
    <div class="container-fluid">
        <div id="annual">
            <div class="row">
                <div class="col-sm-6">
                    <br />
                    <h4 align="center"> May 1, 2021 Meeting</h4>
                    <center><iframe class="video" src="https://www.youtube.com/embed/gx-OzwHpM9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                </div>
                <div class="col-sm-6">
                    <div class="center">
                        <h3 align="center">Annual Meeting Information</h3>
                        <h4 align="center">The 2022 Annual Meeting is scheduled to be held on April 30, 2022.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!--Proxy Statement-->
    <div class="row">
        <div class="col-sm-12">
            <h3 align="center">Proxy Statement-2021</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p align="center"><a href="https://www.berkshirehathaway.com/2021ProxyStmt.pdf">Proxy Statement</a></p>
            <center><iframe src="..\Views\2021ProxyStmt.pdf" width="950" height="500"></iframe></center>
        </div>
    </div>
    <hr class="solid" />
    <!-- Footer -->
    <div class="container-fluid">
        <footer>
            <div class="footer">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/Geico_logo.svg/revision/latest?cb=20131005230353" width="18%" />
                        <p>
                            FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY VISIT
                            <a href="https://www.geico.com/">WWW.GEICO.COM</a> OR CALL 1-888-395-6349, 24 HOURS A DAY
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
