<!DOCTYPE HTML>
<html>
<head>
    <title>Berkshire Hathaway</title>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <link href=".\TempStyle.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"><h1>Berkshire Hathaway</h1></div>
            <div class="col-sm-2"><button><a href="Link goes here">Home</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Letters</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Company Info</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Links</a></button></div>
        </div>
    </div>
    <!-- Main Body -->
    <div class="container">
        <div class="row">
            <!-- Big Title -->
            <div class="col-sm-6">
                <h1 id="mainTitle">Welcome to Berkshire Hathaway</h1>
            </div>
        </div>
    </div>

</body>
</html>