<!DOCTYPE HTML>
<html>
<head>
    <title>Berkshire Hathaway</title>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <link href=".\TempStyle.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"><h1>Berkshire Hathaway</h1></div>
            <div class="col-sm-2"><button><a href="HomePage.html">Home</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Letters</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Company Info</a></button></div>
            <div class="col-sm-2"><button><a href="MoreLinks.html">Links</a></button></div>
        </div>
    </div>
    <!-- Main Body -->
    <div class="container">
        <div class="row">
            <!-- Big Title -->
            <div class="col-sm-6">
                <h1 id="mainTitle">Welcome to Berkshire Hathaway</h1>
            </div>
            <!-- Big Image of BH HQ -->
            <div class="col-sm-6">
                <img src="..\Resources\BerkshireHathawayHQ.jpg" id="BHHQ" />
            </div>
        </div>
    </div>

    <!-- Start of about us section-->
    <div class="container-fluid">
        <div class="row" id="aboutSection">
            <div class="col-sm-6">
                <div class="row" id="aboutTextStart">
                    <div class="col-sm-12">
                        <h3>About us</h3>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col-sm-12">
                        <p>
                            Berkshire Hathaway Inc is an American multinational conglomerate holding company headquartered in Omaha, Nebraska, United States.
                            The company wholly owns  several companies such as GEICO, Duracell, and Dairy Queen. Berkshire Hathaway also owns significant shares in companies such as Kraft Heinz, Coca-Cola, and Apple.
                            The company is known for its control and leadership by Warren Buffett, who serves as chairman and chief executive, and by Charlie Munger, one of the company's vice-chairmen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="..\Resources\BuffetHeadshot.jpg" />
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid">
        <div class="row" id="footer">
            <!-- Legal Disclaimer -->
            <div class="col-sm-6">
                <a href="https://www.berkshirehathaway.com/disclaimer.html" id="legal">Legal Disclaimer</a>
            </div>
            <!-- Geico Ad -->
            <div class="col-sm-6">
                <a href="https://www.geico.com/"><img src="..\Resources\geico logo.png" id="geico" /></a>
            </div>
        </div>
    </div>


</body>
</html>