<!DOCTYPE HTML>
<html>
<head>
    <title>Berkshire Hathaway</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <link href=".\FullDesign.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-sm navbar-dark mb-sm-3 navBG">
        <span class="navbar-brand h1"> Berkshire Hathaway</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="HomePage.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="LettersFromBuffet.html">Letters</a>
                <a class="nav-item nav-link" href="documents.html">Company Info</a>
                <a class="nav-item nav-link" href="financeinfo.html">Finance</a>
                <a class="nav-item nav-link" href="MoreLinks.html">More Links</a>
            </div>
        </div>
    </nav>

    <!-- Main Body -->
    <div class="container">
        <div class="row">
            <!-- Big Title -->
            <div class="col-sm-6">
                <h1 id="mainTitle">Welcome to Berkshire Hathaway</h1>
            </div>
            <!-- Big Image of BH HQ -->
            <div class="col-sm-6">
                <img src="..\Resources\BerkshireHathawayHQ.jpg" id="BHHQ" />
            </div>
        </div>
    </div>

    <!-- Start of about us section-->
    <div class="container-fluid">
        <div class="row" id="aboutSection">
            <div class="col-sm-6">
                <div class="row" id="aboutTextStart">
                    <div class="col-sm-12">
                        <h3>About us</h3>
                    </div>
                </div>
                <div class="row mx-auto">
                    <div class="col-sm-12">
                        <p>
                            Berkshire Hathaway Inc is an American multinational conglomerate holding company headquartered in Omaha, Nebraska, United States.
                            The company wholly owns  several companies such as GEICO, Duracell, and Dairy Queen. Berkshire Hathaway also owns significant shares in companies such as Kraft Heinz, Coca-Cola, and Apple.
                            The company is known for its control and leadership by Warren Buffett, who serves as chairman and chief executive, and by Charlie Munger, one of the company's vice-chairmen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="..\Resources\BuffetHeadshot.jpg" />
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="container-fluid">
            <footer>
                <div class="footer">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <img src="https://static.wikia.nocookie.net/logopedia/images/d/d2/Geico_logo.svg/revision/latest?cb=20131005230353" width="18%" />
                            <p>
                                FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY VISIT
                                <a href="https://www.geico.com/">WWW.GEICO.COM</a> OR CALL 1-888-395-6349, 24 HOURS A DAY
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
    </div>


</body>
</html>