<!DOCTYPE HTML>
<html>
<head>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet">
    <link href="./FullDesign.css" rel="stylesheet" />
    <title>Letters from Buffet</title>
</head>
<body>
    <div class="top">
    
    <div class="row">
        <div class="col-sm-3"><h1 id="logo">Berkshire Hathaway</h1></div>
        <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="HomePage.html">Home</a></button></div>
        <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="LettersFromBuffet.html">Letters</a></button></div>
        <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="documents.html">Company Info</a></button></div>
        <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="financeinfo.html">Finance</a></button></div>
        <div class="col-sm-1"><button class="btn btn-outline-primary"><a href="MoreLinks.html">Links</a></button></div>
    </div>
    <br />
    </div>
    <h2 align=center>
        Letters from Buffett
    </h2>

  

    <div class="messageStyle">

        <h3>
            A Message From Warren E. Buffett, CEO of Berkshire Hathaway Inc.
        </h3>
        <div class="tab2">
        <p>
            Dear Reader,
        </p>
        
            <p id=" tab4">
                You probably know that I don't make stock recommendations. However,
                I have two thoughts regarding your personal expenditures that can
                save you real money. I'm suggesting that you call on the services
                of two subsidiaries of Berkshire: GEICO and Borsheim's.
            </p>
            <p id=" tab4">
                I estimate that about 40% of all auto drivers in the country can save
                money by insuring with GEICO. The figure is not 100% because insurers
                differ in their underwriting judgments, with some favoring drivers
                who live in certain geographical areas and work in certain occupations
                more than GEICO does. I believe, however, that GEICO more frequently
                offers the low price than does any other national carrier selling
                insurance to all comers. You can quickly find out whether you can
                save money by going to <a href="https://www.geico.com/"> www.geico.com</a> or by calling 800-555-2756.
            </p>
            <p id=" tab4">
                Fine jewelry, watches and giftware will almost certainly cost you
                less at Borsheim's. I've looked at the figures for all publicly-owned
                jewelry companies and the contrast with Borsheim's is startling. Our
                one-store operation, with its huge volume, enables us to operate with
                costs that are fully 15-20 percentage points below those incurred by
                our competitors. We pass the benefits of this low-cost structure
                along to our customers.
            </p>
            <p id=" tab4">
                Every year Borsheim's sends out thousands of selections to customers who
                want a long-distance opportunity to inspect what it offers and decide
                which, if any, item they'd like to purchase. We do a huge amount of
                business in this low-key way, which allows the shopper to
                conveniently see the exceptional values that we offer. Call Sean
                Moore or Karen Goracke at Borsheim's (800-642-4438) and save
                substantial money on your next purchase of jewelry.
            </p>
            <p id=" tab2">Sincerely,</p>
            <p id="tab2">
                Warren E. Buffet
            </p>
        </div>
        <div>


    </div>
    <div class=" shareholder">
        <h3>
            Letters to Shareholders
        </h3>
        <div class=" tab2">
            <div class="dropdown">
                <button class="dropbtn" id="tab4">Years (1998-2020)</button>
                <div class="dropdown-content">
                    <a href="https://www.berkshirehathaway.com/letters/1998pdf.pdf">1998</a>
                    <a href="https://www.berkshirehathaway.com/letters/final1999pdf.pdf">1999</a>
                    <a href="https://www.berkshirehathaway.com/letters/2000pdf.pdf">2000</a>
                    <a href="https://www.berkshirehathaway.com/letters/2001pdf.pdf">2001</a>
                    <a href="https://www.berkshirehathaway.com/letters/2002pdf.pdf">2002</a>
                    <a href="https://www.berkshirehathaway.com/letters/2003ltr.pdf">2003</a>
                    <a href="https://www.berkshirehathaway.com/letters/2004ltr.pdf">2004</a>
                    <a href="https://www.berkshirehathaway.com/letters/2005ltr.pdf">2005</a>
                    <a href="https://www.berkshirehathaway.com/letters/2006ltr.pdf">2006</a>
                    <a href="https://www.berkshirehathaway.com/letters/2007ltr.pdf">2007</a>
                    <a href="https://www.berkshirehathaway.com/letters/2008ltr.pdf">2008</a>
                    <a href="https://www.berkshirehathaway.com/letters/2009ltr.pdf">2009</a>
                    <a href="https://www.berkshirehathaway.com/letters/2010ltr.pdf">2010</a>
                    <a href="https://www.berkshirehathaway.com/letters/2011ltr.pdf">2011</a>
                    <a href="https://www.berkshirehathaway.com/letters/2012ltr.pdf">2012</a>
                    <a href="https://www.berkshirehathaway.com/letters/2013ltr.pdf">2013</a>
                    <a href="https://www.berkshirehathaway.com/letters/2014ltr.pdf">2014</a>
                    <a href="https://www.berkshirehathaway.com/letters/2015ltr.pdf">2015</a>
                    <a href="https://www.berkshirehathaway.com/letters/2016ltr.pdf">2016</a>
                    <a href="https://www.berkshirehathaway.com/letters/2017ltr.pdf">2017</a>
                    <a href="https://www.berkshirehathaway.com/letters/2018ltr.pdf">2018</a>
                    <a href="https://www.berkshirehathaway.com/letters/2019ltr.pdf">2019</a>
                    <a href="https://www.berkshirehathaway.com/letters/2020ltr.pdf">2020</a>
                </div>
            </div>
       
        <p id="tab4">
            For shareholders and others who are interested, a book that compiles
            the full unedited versions of each of Warren Buffett’s letters to shareholders
            between 1965 and 2014 is available for sale at <a href=" https://www.amazon.com/Berkshire-Hathaway-Letters-Shareholders-Buffett/dp/0615975070/ref=sr_1_fkmr0_1?s=books&ie=UTF8&qid=1511796222&sr=1-1-fkmr0&keywords=berkshire+hathaway+letters+to+shareholders%2C+2014"> this link.</a>
        </p>

        <h4 id="tab4">ALL SHAREHOLDER LETTERS INCLUDE COPYRIGHTED MATERIAL REPRODUCED WITH PERMISSION</h4>

</div>
        <br />
    </div>
    <div class="pledge">
        <h3>
            Letters Regarding Pledges
        </h3>
        <p id="tab4">
            The links below are to letters from Warren E. Buffett dated June 26,
            2006 and to a letter to Mr. Buffett's three children dated August 30, 2012
            regarding pledges to make gifts of Berkshire stock.
        </p>
        <ul>
            <li><a href="https://www.berkshirehathaway.com/donate/bmgfltr.pdf ">Bill and Melinda Gates Foundation</a></li>
            <li><a href="https://www.berkshirehathaway.com/donate/stbfltr.pdf ">Susan Thomas Buffet Foundation</a></li>
            <li><a href="https://www.berkshirehathaway.com/donate/hgbltr.pdf ">Howard G. Buffet Foundation</a></li>
            <li><a href="https://www.berkshirehathaway.com/donate/sabltr.pdf ">The Sherwood Foundation (formerly Susan A. Buffett Foundation)</a></li>
            <li><a href="https://www.berkshirehathaway.com/donate/pabltr.pdf ">NoVo Foundation (Peter A. Buffet)</a></li>
            <li><a href="https://www.berkshirehathaway.com/donate/shpltr.pdf ">Letter to Susie, Howard, and Peter Buffet</a></li>

        </ul>

        <p id="tab4">
            The July 10, 2006 edition of Fortune Magazine contains an article that
            includes additional information regarding the pledges made by
            Mr. Buffett.
        </p>
        <br />

    </div>

    <div class=" special">
        <h3>
            Special Letters
        </h3>
        <div class=" tab2">
            <h4 id=" tab4"><a href="https://www.berkshirehathaway.com/SpecialLetters/WEB%20past%20present%20future%202014.pdf">Warren's Letter</a></h4>

            <h4 id="tab4"><a href="https://www.berkshirehathaway.com/SpecialLetters/CTM%20past%20present%20future%202014.pdf">Charlie's Letter</a></h4>
            <br />
        </div>
    </div>

</body>
<footer>
    <div class="footer">
        <img align = center src="https://static.wikia.nocookie.net/logopedia/images/d/d2/Geico_logo.svg/revision/latest?cb=20131005230353" width="20%" />
        <p align = center>
            FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY
            <a href="https://www.geico.com/">WWW.GEICO.COM</a> OR CALL 1-888-395-6349, 24 HOURS A DAY
        </p>
    </div>
</footer>
</html>
