<!DOCTYPE HTML>
<html>
<head>
    <title>Berkshire Hathaway</title>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <link href=".\FullDesign.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"><h1>Berkshire Hathaway</h1></div>
            <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="HomePage.html">Home</a></button></div>
            <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="LettersFromBuffet.html">Letters</a></button></div>
            <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="documents.html">Company Info</a></button></div>
            <div class="col-sm-2"><button class="btn btn-outline-primary"><a href="financeinfo.html">Finance</a></button></div>
            <div class="col-sm-1"><button class="btn btn-outline-primary"><a href="MoreLinks.html">Links</a></button></div>
        </div>
    </div>
    <!-- Main Body -->
    <div class="container-fluid">
        <!-- Subsidiary Company Section -->
        <div class="row linkHeaders darkSection">
            <div class="col-sm-12">
                <h3> Our Subsidiary Companies</h3>
            </div>
        </div>
        <div class="row listPadding">
            <!-- First Column of Links -->
            <div class="col-sm-6">
                <div class="list-group">
                    <a href="https://www.benbridge.com/" class="list-group-item list-group-item-action">Ben Bridge Jeweler</a>
                    <a href="https://www.berkshirehathawayautomotive.com/" class="list-group-item list-group-item-action">Berkshire Hathaway Automotive</a>
                    <a href="https://www.brkenergy.com/" class="list-group-item list-group-item-action">Berkshire Hathaway Energy Company</a>
                    <a href="https://www.boatus.com/" class="list-group-item list-group-item-action">BoatU.S</a>
                        <a href="https://www.brooksrunning.com/" class="list-group-item list-group-item-action">Brooks</a>
                        <a href="https://www.businesswire.com/portal/site/home/" class="list-group-item list-group-item-action">Business Wire</a>
                        <a href="https://www.claytonhomes.com/" class="list-group-item list-group-item-action">Clayton Homes</a>
                        <a href="https://www.duracell.com/en-us/" class="list-group-item list-group-item-action">Duracell</a>
                        <a href="https://www.berkshirehathaway.com/subs/fruit.html" class="list-group-item list-group-item-action">Fruit of the Loom Companies</a>
                        <a href="https://www.geico.com/" class="list-group-item list-group-item-action">GEICO Auto Insurance</a>

                </div>
            </div>
            <!-- Second Column of Links -->
            <div class="col-sm-6">
               
                    <div class="list-group">
                            <a href="https://www.dairyqueen.com/en-us/" class="list-group-item list-group-item-action">International Dairy Queen, Inc.</a>
                            <a href="https://www.jordans.com/" class="list-group-item list-group-item-action">Jordan's Furniture'</a>
                            <a href="https://www.kraftheinzcompany.com/" class="list-group-item list-group-item-action">Kraft Heinz</a>
                            <a href="https://www.lubrizol.com/" class="list-group-item list-group-item-action">Lubrizol Corporation</a>
                            <a href="https://www.marmon.com/" class="list-group-item list-group-item-action">Marmon Holdings, Inc.</a>
                            <a href="https://www.medpro.com/" class="list-group-item list-group-item-action">MedPro Group</a>
                            <a href="https://www.mii.com/" class="list-group-item list-group-item-action">MiTek, Inc.</a>
                            <a href="https://www.nfm.com/" class="list-group-item list-group-item-action">Nebraska Furniture Mart</a>
                            <a href="https://www.pamperedchef.com/" class="list-group-item list-group-item-action">Pampered Chef</a>
                        <a href="https://www.starfurniture.com/" class="list-group-item list-group-item-action">Star Furniture</a>
                    </div>
            </div>
        </div>
        <!-- Sustainability Section -->
        <div class="row linkHeaders darkSection">
            <div class="col-sm-12">
                <h3>Sustainability</h3>
            </div>
        </div>
        <div class="row listPadding">
            <!-- First Column of Links -->
            <div class="col-sm-6">
                <div class="list-group">
                   
                        <a href="https://www.berkshirehathaway.com/sustainability/brksustainabilityleadershipcouncilmay2021.pdf" class="list-group-item list-group-item-action">Berkshire Hathaway Sutainability Leadership Council</a>
                        <a href="https://www.benjaminmoore.com/en-us/corporate-responsibility-sustainability" class="list-group-item list-group-item-action ">Benjamin Moore and Co.</a>
                        <a href="https://brkenergy.com/about-us/sustainability.aspx" class="list-group-item list-group-item-action">Berkshire Hathaway Energy Company</a>

                        <a href="https://www.bnsf.com/in-the-community/environment/index.page" class="list-group-item list-group-item-action ">BNSF</a>

                        <a href="https://www.brooksrunning.com/en_us/meet-brooks/running-responsibly" class="list-group-item list-group-item-action ">Brooks</a>


                        <a href="https://www.cort.com/sustainability" class="list-group-item list-group-item-action ">Cort Business Services</a>


                        <a href="https://www.fotlinc.com/resources/pdf/Sustainability_Report.pdf" class="list-group-item list-group-item-action ">Fruit of the Loom Companies</a>


                        <a href="https://www.garanimals.com/storage/app/media/legal/Garan_Sustainability_Report_FY_2017-%202018-v3.pdf" class="list-group-item list-group-item-action ">Garan Inc.</a>

                </div>
            </div>
            <!-- Second Column of Links -->
            <div class="col-sm-6">
                <div class="list-group">
                        <a href="https://www.geico.com/about/in-the-community/" class="list-group-item list-group-item-action ">GEICO Auto Insurance</a>

                        <a href="https://www.helzberg.com/diamond-and-jewelry-quality-over-everything" class="list-group-item list-group-item-action ">Helzberg Diamonds</a>
                        <a href="https://www.jm.com/en/sustainability/" class="list-group-item list-group-item-action ">Johns Manville</a>
                        <a href="https://www.lubrizol.com/Our-Company/Corporate-Report" class="list-group-item list-group-item-action ">Lubrizol Corporation</a>
                        <a href="https://www.mclaneco.com/content/mclaneco/en/about.html#green-advantage-sustainability" class="list-group-item list-group-item-action ">McLane Company</a>
                        <a href="https://www.netjets.com/en-us/sustainability" class="list-group-item list-group-item-action ">Net Jets</a>
                        <a href="https://www.richlinegroup.com/richline-responsible/" class="list-group-item list-group-item-action ">RichLine Group</a>
                        <a href="https://shawinc.com/Corporate-Responsibility" class="list-group-item list-group-item-action ">Shaw Industries</a>
                </div>

            </div>
        </div>
        <!-- Common Stock Information Section -->
        <div class="row linkHeaders darkSection">
            <div class="col-sm-12">
                <h3>Common Stock Information</h3>
            </div>
        </div>
        <!-- Links -->
        <div class="row listPadding">
            <div class="col-sm-6">
                <a href="https://www.berkshirehathaway.com/brkshareholderinfo/compab.pdf"  class="list-group-item list-group-item-action ">Comparative Rights and Relative Prices of Class A and B Stock</a>
            </div>
            <div class="col-sm-6">
                <a href="https://www.berkshirehathaway.com/brkshareholderinfo/transferagentinfo.pdf" class="list-group-item list-group-item-action ">Common stock and stock transfer agent information</a>

            </div>
        </div>
        <!-- Shop Section -->
        <div class="row linkHeaders darkSection">
            <div class="col-sm-12">
                <h3>Shop</h3>
            </div>
        </div>
        <!--Buttons -->
        <div class="row listPadding">
            <div class="col-sm-6">
                <row>
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-outline-dark btn-lg shopButton">Berkshire Activewear</button>
                    </div>
                </row>
                <row>
                    <div class="col-sm-12">
                        <button  type="button" class="btn btn-outline-dark btn-lg shopButton">Commemorative Book</button>
                    </div>
                </row>
            </div>
            <!--Shirt Image -->
            <div class="col-sm-6">
                <img src="..\Resources\BHShirt.jpg" />
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="container-fluid">
        <div class="row" id="footer">
            <!-- Legal Disclaimer -->
            <div class="col-sm-6">
                <a href="https://www.berkshirehathaway.com/disclaimer.html" id="legal">Legal Disclaimer</a>
            </div>
            <!-- Geico Ad -->
            <div class="col-sm-6">
                <a href="https://www.geico.com/"><img src="..\Resources\geico logo.png" id="geico" /></a>
            </div>
        </div>
    </div>

</body>
</html>