<!DOCTYPE HTML>
<html>
<head>
    <title>Berkshire Hathaway</title>
    <script src="..\wwwroot\lib\bootstrap\dist\js\bootstrap.js"></script>
    <link href="..\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <link href=".\TempStyle.css" rel="stylesheet" />
</head>
<body>
    <!-- Header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"><h1>Berkshire Hathaway</h1></div>
            <div class="col-sm-2"><button><a href="HomePage.html">Home</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Letters</a></button></div>
            <div class="col-sm-2"><button><a href="Link goes here">Company Info</a></button></div>
            <div class="col-sm-2"><button><a href="MoreLinks.html">Links</a></button></div>
        </div>
    </div>
    <!-- Main Body -->
    <div class="container-fluid">
        <!-- Subsidiary Company Section -->
        <div row>
            <div col-sm-12>
                <h3> Our Subsidiary Companies</h3>
            </div>
        </div>
        <div row>
            <!-- First Column of Links -->
            <div col-sm-6>
                <ul>
                    <li><a href="https://www.benbridge.com/">Ben Bridge Jeweler</a></li>
                    <li><a href="https://www.berkshirehathawayautomotive.com/">Berkshire Hathaway Automotive</a></li>
                    <li><a href="https://www.brkenergy.com/">Berkshire Hathaway Energy Company</a></li>
                    <li>
                        <a href="https://www.boatus.com/">BoatU.S</a>
                    </li>
                    <li>
                        <a href="https://www.brooksrunning.com/">Brooks</a>
                    </li>
                    <li>
                        <a href="https://www.businesswire.com/portal/site/home/">Business Wire</a>
                    </li>
                    <li>
                        <a href="https://www.claytonhomes.com/">Clayton Homes</a>
                    </li>
                    <li>
                        <a href="https://www.duracell.com/en-us/">Duracell</a>
                    </li>
                    <li>
                        <a href="https://www.berkshirehathaway.com/subs/fruit.html">Fruit of the Loom Companies</a>
                    </li>
                    <li> <a href="https://www.geico.com/">GEICO Auto Insurance</a></li>

                </ul>
            </div>
            <!-- Second Column of Links -->
            <div col-sm-6>
                <p>
                    <ul>
                    <li>
                        <a href="https://www.dairyqueen.com/en-us/">International Dairy Queen, Inc.</a>
                    </li>
                    <li>
                        <a href="https://www.jordans.com/">Jordan's Furniture'</a>
                    </li>
                    <li>
                        <a href="https://www.kraftheinzcompany.com/">Kraft Heinz</a>
                    </li>
                    <li>
                        <a href="https://www.lubrizol.com/">Lubrizol Corporation</a>
                    </li>
                    <li>
                        <a href="https://www.marmon.com/">Marmon Holdings, Inc.</a>
                    </li>
                    <li>
                        <a href="https://www.medpro.com/">MedPro Group</a>
                    </li>
                    <li>
                        <a href="https://www.mii.com/">MiTek, Inc.</a>
                    </li>
                    <li>
                        <a href="https://www.nfm.com/">Nebraska Furniture Mart</a>
                    </li>
                    <li>
                        <a href="https://www.pamperedchef.com/">Pampered Chef</a>
                    </li>
                    <li><a href="https://www.starfurniture.com/">Star Furniture</a></li>
                        </ul>

                </p>
            </div>
        </div>
    </div>

</body>
</html>